<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">Error 404</h1>
        <div style="height: 80px"></div>
        <h3 class="font-weight-light">Strona o tym adresie nie została znaleziona.</h3>
        <div style="height: 60px"></div>
      <button type="button" class="btn btn-lg btn-secondary btn-block" routerLink="/dashboard"><i>Powrót</i></button>
      <div style="height: 60px"></div>
      </div>
    </div>
  </div>
  