<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div style="height: 60px"></div>
      <form class="container form text-center" role="form">
        <h1 class="text-center">Edycja kursu <br> {{ course.name }}</h1>
        <div class="row">
          <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="course-form">
                <br><br>
                <label>Nazwa kursu:</label>
                <br>
                <input placeholder="Nazwa kursu" name="name" [(ngModel)]="course.name" type="text" class="validate"
                #name="ngModel" required>
                  <div class="error" *ngIf="name.touched && name.errors?.required">
                    Nazwa kursu jest wymagana!
                  </div>
              </div>
                <br>
              <div class="course-form">
                <input type="range" name="ects" class="custom-range" [(ngModel)]="course.ects" min="0" max="15" step="1">
                ECTS: {{course.ects}}
              </div>
              <br>
              <div class="course-form">
                <input type="range" name="semester" class="custom-range" [(ngModel)]="course.semester" min="1" max="10" step="1">
                Semestr: {{course.semester}}
              </div>
              <br>
              <div class="course-form">
                <label>Maksymalna liczba studentów:</label>
                <br>
                <input placeholder="Max Students" name="maxStudents" [(ngModel)]="course.capacity" type="number"
                  class="validate" #maxStudents="ngModel"  pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" required>
                <div class="error" *ngIf="maxStudents.touched && maxStudents.errors?.required">
                  Limit studentów jest wymagany!
                </div>
                <div class="error" *ngIf="maxStudents.errors?.pattern && maxStudents.touched">
                  Dozwolone są tylko całkowite liczby dodatnie!
                </div>
              </div>
              <br>
              <div class="course-form">
                <label>Typ kursu:</label>
                <br>
                <select  [(ngModel)]="course.type" name="courseForm">
                  <option [ngValue]="courseType"  *ngFor="let courseType of courseTypes">{{ courseType }}</option>
                </select>
              </div>
              <br>
              <div class="course-form">
                <label>Krótki opis kursu:</label>
                <br>
                <textarea placeholder="Opis Kursu" ref-textarea [(ngModel)]="course.description"  name="desription" rows="4"
                      cols="20" required #description = "ngModel"></textarea>
                <div class="error" *ngIf="description.touched && description.errors?.required">
                  Description required.
                </div>
              </div>
              <br>
              <div class="course-form">
                <label>Link do zdjęcia kursu:</label>
                  <br>
                  <!--TODO: url validation-->
                  <input placeholder="Url zdjęcia kursu" name="image" [(ngModel)]="course.img" type="text" class="validate"
                    #courseImage="ngModel"  pattern="https?://.+\.[jpg|gif|png].*" required>
                <div class="error" *ngIf="courseImage.touched && courseImage.errors?.required">
                  Course Image url is required.
                </div>
                <div class="error" *ngIf="courseImage.errors?.pattern && courseImage.touched">
                  Invalid image url.
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-4"></div>
            </div>
            <div class="submit">
            <a  class="btn btn-success text-white" (click)="saveCourse()" routerLink="/course-list">Zapisz</a>
            <!--<div class="error" *ngIf="err">
              Wypełnij formularz poprawnie!
              </div>
              <div class="good" *ngIf="good">
              Zmodyfikowano kurs.
              </div>-->
            </div>
      </form>    
      <div style="height: 40px"></div>
    </div>
  </div>
</div>


