<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Witaj na stronie Kursy WIEiT</h1>
      <div style="height: 60px"></div>
      <button type="button" class="btn btn-lg btn-success btn-block" routerLink="/sign-in"><i>Masz już konto? Zaloguj się!</i></button>
      <div style="height: 60px"></div>
      <button type="button" class="btn btn-lg btn-secondary btn-block" routerLink="/sign-up"><i>Jesteś tu pierwszy raz? Zarejestruj się!</i></button>
      <div style="height: 60px"></div>
    </div>
  </div>
</div>


