<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Witaj na stronie Kursy WIEiT
      </h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat odio sed velit fermentum bibendum. Cras id nunc interdum, imperdiet mauris ut, elementum sem. Curabitur semper placerat justo aliquam fringilla. Aenean vel sapien malesuada, dictum diam id, accumsan libero. Cras eu dolor sit amet lectus gravida tempus quis ac ex. Integer facilisis, neque vestibulum elementum malesuada, nisi enim consequat nibh, sed aliquet purus libero eget sapien. Sed tincidunt diam justo, vitae finibus elit viverra ac. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum diam est, fermentum quis imperdiet scelerisque, egestas quis velit. Morbi luctus nibh velit, quis porttitor nisl condimentum convallis. </p>
      <div style="height: 200px"></div>
    </div>
  </div>
</div>


